---
const { cardTitle, cardDescription, cardImage, cardButtonText } = Astro.props;
---



<div>
    <h2>{cardTitle}</h2>
    <div><p>{cardDescription}</p></div>
    <img src={cardImage} alt={cardTitle} />
    <button>{cardButtonText}</button>
</div>